[submodule "ClockClock-master-pico"]
	path = ClockClock-master-pico
	url = https://github.com/alang321/ClockClock-master-pico
[submodule "clockclock-module"]
	path = clockclock-module
	url = https://github.com/alang321/clockclock-module
